<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Add New RSS Item</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='systems.css') }}" />
		<script src="{{ url_for('static', filename='locked-changes.js') }}"></script>
	</head>
	<body>
		<h1>Add New RSS Item</h1>

		<form method="post" action="/add">
			<div class="add-section">
				<h2>Add New Item</h2>
				<table class="add-table">
					<tr>
						<td>Title</td>
						<td>
							<input type="text" id="title" name="title" required placeholder="Title limit 60 Characters" />
						</td>
					</tr>
					<tr>
						<td>Description</td>
						<td>
							<textarea id="description" name="description" rows="4" required placeholder="Add episode long description or show notes here."></textarea>
						</td>
					</tr>
					<tr>
						<td>Link</td>
						<td>
							<input type="text" id="link" name="link" placeholder="URL To...." />
						</td>
					</tr>
					<tr>
						<td>GUID</td>
						<td>
							<input type="text" name="guid" disabled />
						</td>
					</tr>
					<tr>
						<td id="dc:creator_previewBox">Podcast Episode Creator</td>
						<td>
							<span style="float: right;" id="dc:creator_lock">&#x1f512;</span>
							<input type="text" style="margin-bottom: 10px;" id="dc:creator" name="dc:creator" value="Unschool Pages of Our Lives, Danii Oliver" readonly aria-readonly="true" />
							<button type="button" class="outline-button" onclick="attemptChange('dc:creator','dc:creator_previewBox', 'dc:creator_lock')">&#9888;&nbsp;Change Default Creator</button>
						</td>
					</tr>
					<tr>
						<td>Published Date
							<br /><i>Day, DD Mon YYYY HH:MM:SS GMT</i>
						</td>
						<td>
							<input type="text" name="pubDate" placeholder="e.g. Wed, 26 Feb 2026 10:00:00 GMT" />
						</td>
					</tr>
					<tr>
						<td>Enclosure URL</td>
						<td>
							<input type="text" name="enclosure_url" />
						</td>
					</tr>
					<tr>
						<td>Enclosure Length</td>
						<td>
							<input type="text" name="enclosure_length" />
						</td>
					</tr>
					<tr>
						<td>Enclosure Type</td>
						<td>
							<input type="text" name="enclosure_type" />
						</td>
					</tr>
					<tr>
						<td>Episode Summary
							<br /><i>(150 Characters)</i>
						</td>
						<td><textarea name="itunes:summary"></textarea></td>
					</tr>
					<tr>
						<td>Contains Explicit Content? <br/>(Yes/No)</td>
						<td>
							<input type="text" name="itunes:explicit" placeholder="Yes or No" />
						</td>
					</tr>
					<tr>
						<td>Episode Duration <br/>(HH:MM:SS)</td>
						<td>
							<input type="text" name="itunes:duration" placeholder="HH:MM:SS" />
						</td>
					</tr>
					<tr>
						<td>Season #</td>
						<td>
							<input type="text" name="itunes:season" />
						</td>
					</tr>
					<tr>
						<td>Episode #</td>
						<td>
							<input type="text" name="itunes:episode" />
						</td>
					</tr>
					<tr>
						<td>Episode Type <br/>(Full, Bonus, Trailer)</td>
						<td>
							<input type="text" name="itunes:episodeType" />
						</td>
					</tr>
					<tr>
						<td id="itunes:image_previewBox">Episode or Podcast Image URL<br><i> (http:// or https://) Image Link (.jpeg, .avif, .png, .webp)</i></td>
						<td>
							<span style="float: right;" id="itunes:image_lock">&#x1f512;</span>
							<input
								id="itunes:image"
								type="text"
								name="itunes:image"
								value="https://d3t3ozftmdmh3i.cloudfront.net/staging/podcast_uploaded_nologo/30674591/30674591-1705711056966-43ec54217f94a.jpg"
								readonly
								aria-readonly="true"
								style="margin-bottom: 10px;"
							/>
							<!-- Default image URL, can be changed by user input, but prompts a confirmation to prevent accidental changes -->
							<!-- Note: The image URL is stored in the iTunes namespace, but it is not required to be in the same format as the other iTunes fields, so it is treated as a regular text input. -->
							<!-- Create a confirmation requiring the user to type "CHANGE" to unlock the default image URL, but if the user clicks "cancel" the default URL will remain in place. -->
							<!-- This allows the user to easily add a custom image URL if desired, while also providing a default image for convenience. -->
							<!-- The confirmation prompt helps prevent accidental changes to the default image URL, which is important since the image is a required field for the RSS feed and can affect how the episode is displayed in podcast directories. -->
							<button type="button" class="outline-button" onclick="attemptChange('itunes:image', 'itunes:image_previewBox', 'itunes:image_lock')">&#9888;&nbsp;Change Default Image URL</button>
						</td>
					</tr>
				</table>
			</div>

			<button type="submit" class="add-button">Add Item</button>
		</form>

		<a class="back-link outline-button" href="/">← Back to Editor</a>
	</body>
</html>
