<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Danii Oliver's RSS Editor</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='systems.css') }}" />
		<script src="{{ url_for('static', filename='live-preview.js') }}"></script>
		<script src="{{ url_for('static', filename='locked-changes.js') }}"></script>
	</head>
	<body>
		<h1>Edit RSS Feed</h1>
		<div class="feed-info">
			{% for key, value in feed %}
			<p><strong>{{ key }}:</strong> {{ value }}</p>
			{% if key == "Feed Link" %}
			<p><a class="outline-link" href="{{ value }}" target="_blank">View Feed Link &RightArrow;</a></p>
			{% endif %}
			{% endfor %}
		</div>
		<p>Total # of Episodes included in this rss.xml items are: <strong>{{ item_count }}</strong></p>
			
		<a class="outline-link" href="/add_item">&#10011; &nbsp;Add New Item</a>
		
		<h2>Episode List</h2>
		{% for idx, item, episode_number in items %}
		<a class="outline-link" href="#{{ episode_number }}">Episode # {{ episode_number }}: {{ item.get('title', 'Unknown Title') }}</a>
		{% endfor %}	

		{% for idx, item, episode_number in items %}
		<form method="post" action="/edit/{{ idx }}">
			<div class="edit-section">
				<h2 id="{{episode_number}}">Edit Episode {{ episode_number }}: {{ item.get('title', 'Unknown Title') }}</h2>
				<table class="edit-table">
					{% for field, value in item.items() %}
					<tr>
						<td id="{{field}}_previewBox_{{idx}}">
							<h3 class="up">{{ field }}</h3>
							<span id="{{ field }}_preview_{{ idx }}">{{ value }}</span>
						</td>
						<td id="{{field}}_editable_{{idx}}">
							{% if field in ["description", "itunes:summary", "title"] %}
							<textarea id="{{ field }}_input_{{ idx }}" name="{{ field }}">{{ value }}</textarea>
							{% elif field in ["link", "enclosure_url", "enclosure_length", "enclosure_type", "itunes:image", "dc:creator", "guid"] %}
							<span style="float: right;" id="{{ field }}_lock_{{ idx }}">&#x1f512;</span>
							<input style="margin-bottom: 10px;" type="text" id="{{ field }}_input_{{ idx }}" name="{{ field }}" value="{{ value }}" readonly aria-readonly />
							<button type="button" class="outline-button" 
							onclick="attemptChange('{{ field }}_input_{{ idx }}', '{{ field }}_previewBox_{{ idx }}', '{{ field }}_lock_{{ idx }}')"> 
							&#9888; &nbsp;Change This Protected Field</button>
							{% else %}
							<input type="text" id="{{ field }}_input_{{ idx }}" name="{{ field }}" value="{{ value }}" />
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>

			<!-- Save button -->
			<button class="edit-button" type="submit"><span style="font-size: 1rem;">&#10004;</span> &nbsp; Save Updates {{ idx+1 }}</button>
		</form>
		<button class="delete-button" type="button" onclick="attemptDelete({{ idx }}, '{{ item.get('title', 'Unknown') }}')"><span style="font-size: 1rem;"> &#10008;</span> &nbsp; Delete Item {{ item.get('title', 'Unknown') }}</button>
		<hr />
		{% endfor %}
	</body>
</html>